@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.appBar {
  background-color: #fff !important;
}

.toolBar {
  justify-content: space-between;
  width: 70%;
  margin: auto;
  min-height: 50px !important;
}

.authLinks {
  display: flex;
  justify-content: space-around;
}

.navLinks {
  display: flex;
  width: 200px !important;
  justify-content: space-around;
  align-items: center;
}

.link {
  font-size: 1.4em;
  font-weight: 100;
  color: #000 !important;
  text-decoration: none;
}

.logo {
  font-weight: 500;
  font-size: 2em;
  font-family: "Grand Hotel", cursive;
  color: #000 !important;
  margin: 0;
  text-decoration: none;
}

@media only screen and (max-width: 560px) {
  .toolBar {
    width: 99%;
    padding: 0 !important;
  }
}
